{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
      "transform-flow-strip-types",
      "syntax-flow",
      "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
