{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
      "transform-flow-comments",
      "syntax-flow"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
