[*]
end_of_line = lf
insert_final_newline = true
# Unix-style newlines with a newline ending every file
charset = utf-8
# Indent size is set to 4 spaces
indent_style = space
indent_size = 4

# Matches the exact files either package.json, bower.json or .travis.yml
[{package.json}]
indent_style = space
indent_size = 2
