{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "mocha": true,
        "browser": true,
        "es6": true
    },
    "globals": {},
    "plugins": [
        "mocha",
        "flowtype",
        "gigwalk"
    ],
    "rules": {
        "arrow-parens": [1, "always"],
        "class-methods-use-this": 1,
        "comma-dangle": 0,
        "consistent-return": 1,
        "flowtype/define-flow-type": 2,
        "flowtype/require-parameter-type": 2,
        "flowtype/require-return-type": [2, "sometimes", {"annotateUndefined": "never"}],
        "flowtype/require-valid-file-annotation": [2, "always"],
        "flowtype/space-after-type-colon": [2, "always"],
        "flowtype/space-before-type-colon": [2, "never"],
        "flowtype/use-flow-type": 2,
        "flowtype/valid-syntax": 2,
        "func-names": 2,
        "gigwalk/require-valid-flow-file-annotation": [2, "(spec|test)"],
        "guard-for-in": 1,
        "import/extensions": ["error", "never", {"css": "always", "scss": "always", "json": "always"}],
        "import/imports-first": 1,
        "import/newline-after-import": 1,
        "import/no-amd": 2,
        "import/no-commonjs": 2,
        "import/no-extraneous-dependencies": 0,
        "import/no-named-as-default": 1,
        "import/no-named-as-default-member": 1,
        "import/prefer-default-export": 1,
        "indent": [2, 4, {"SwitchCase": 1}],
        "jsx-a11y/no-static-element-interactions": 1,
        "jsx-a11y/tabindex-no-positive": 1,
        "max-len": ["error", 160, 4, {"ignoreComments": false, "ignoreTemplateLiterals": false}],
        "mocha/no-exclusive-tests": 2,
        "new-cap": 2,
        "no-console": 2,
        "no-continue": 1,
        "no-debugger": 2,
        "no-duplicate-imports": 0,
        "no-lonely-if": 1,
        "no-mixed-operators": 1,
        "no-param-reassign": 2,
        "no-prototype-builtins": "off",
        "no-underscore-dangle": 0,
        "no-unused-expressions": 0,
        "no-var": 2,
        "object-shorthand": 2,
        "operator-assignment": 1,
        "prefer-const": 2,
        "prefer-spread": 1,
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": [2, 4],
        "react/jsx-no-bind": 1,
        "react/no-string-refs": 1,
        "react/no-unused-prop-types": 0,
        "require-jsdoc": 1,
        "space-before-function-paren": [2, "never"],
        "spaced-comment": 2
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        }
    }
}

